body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}
section {
  margin: 20px;
}
h2 {
  color: #333;
}
.service-item {
  margin: 20px 0;
}
.service-item ul {
  list-style-type: none;
  padding: 0;
}
.service-item li {
  padding: 5px 0;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

/*------------ contact-block ------------ */

.contact-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.contact-block > a {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact-whatsapp {
  background-color: #25d366;
  font-size: 40px;
  color: white;
}

.contact-phone {
  background-color: #007aff;
  font-size: 30px;
  color: white;
}

.contact-block > a:hover {
  transform: scale(1.08); /* Üzərinə gəldikdə düymə böyüyəcək */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Daha güclü kölgə effekti */
  transition: all 0.3s ease-in-out; /* Keçid effekti */
}

.contact-whatsapp:hover {
  background-color: #1ebe5d; /* WhatsApp düyməsi tünd yaşıl olacaq */
}

.contact-phone:hover {
  background-color: #005bbf; /* Telefon düyməsi tünd mavi olacaq */
}
